*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    color:#1f2937;
    min-height:100vh;
}
.header-container{
    background-color:#ffffff;
    padding:20px;
    text-align:center;
    border-bottom: 1px solid #ffffff;
    margin-bottom:20px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.navbar{
    position:relative;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
    list-style:none;
}
.logo{
    display:flex;
    font-size: 2rem;
    font-weight:bold;
    color:#7C3AED;
    text-decoration:none;
    margin-right:20px;
}
.navlinks{
    display:flex;
    align-items:center;
    list-style:none;
    gap:30px;
}
.navlinks a{
    text-decoration:none;
    color:black;
    text-align:center;
    overflow:hidden;
}
.navlinks a:hover{
    color: #7c3aed;
    transition: all 0.3s ease-in-out;
}
.create-account{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}
.create-account a{
    text-decoration:none;
    color:black;
    list-style:none;
}
.create-account:hover{
    color:#7C3AED;
    transition: all 0.3s ease-in-out;
}
.create-btn{
    display:inline-block;
    background-color:#6d28d9;
    color:#fff;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.create-btn:hover{
    transition: 0.3s ease;
}
.Hamburger{
    display:none;
    font-size:1.5rem;
    cursor:pointer;
}

@media screen and (max-width: 768px) {
    .navlinks{
        display:none;
        flex-direction:column;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#ffffff;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        padding:20px;
        gap:15px;
        z-index:10;
    }
    .navlinks.active{
        display:flex;
    }
    .create-account{
        display:none;
    }
    .Hamburger{
        display:block;
    }
}