*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    color:#1f2937;

    min-height:100vh;
}
.header-container{
background-color:#ffffff;
padding:20px;
text-align:center;
border-bottom: 1px solid #ffffff;
margin-bottom:20px;
box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
    list-style:none;

}
.logo{
    font-size: 2rem;;
    font-weight:bold;
    color:#7C3AED;
    text-decoration:none;
    margin-right:20px;

}
.nav-links{
    display:flex;
    justify-content:inline;
    margin-right: 25rem;;
    align-items:center;
    list-style:none;
    gap:30px;
}
.nav-links a{
    text-decoration:none;
    color:black;
    text-align:center;
    overflow:hidden;
}
.nav-links a:hover{
    color: #7c3aed;;
    transition: all 0.3s ease-in-out;
}
.create-account{
      display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
     margin-left:15rem;
    
}
.create-account a{
    text-decoration:none; 
    color:black;
    list-style:none;
    
   
}
.create-account:hover{
    color:#7C3AED;
    transition: all 0.3s ease-in-out;

}
.btn{
    display:inline-block;
    background-color:#6d28d9;
   
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);

}
.btn:hover{
transition: 0.3s ease;
}
.Hamburger{
    display:block;
    cursor:pointer;
}

@media screen and (min-width: 768px) {
.nav-links a {
    display:flex ;
}
.hamburger{
    display: none;
}
}
