<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeOs AI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<!-------Navbar section and header section----------->
    <header>
        <div class="header-container">
            <nav class="navbar">
                <a href="#" class="logo">LifeOS</a>
                <ul class="navlinks" id="navlinks">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Roadmap</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="create-account">
                    <a href="#">Login</a>
                    <a href="#" class="create-btn">Create Account</a>
                </div>
                <div class="Hamburger" id="Hamburger-icon">☰</div>
            </nav>
        </div>
    </header>
    <section class="hero-section">
        <div class="hero-content">
            <div class="small-heading">
                <H1>Your Life. Your Goals. Your AI Accountabilty Partner.</H1>
            </div>
            <div class="hero-description">
            <p> LifeOS AI helps you organizeyour schedule, manage your goals, track your progress,
             and keep you accountable- so you don't just plan your life, you actually follow through it.</p>
            </div>">
           <div class="buttons">
            <button class ="get-started-btn">Get started</button>
            button class= "learn-more-btn">Learn more</button>
           </div>

            </div>
        </div>
    </section.class>
    <script src="/static/js/script.js"></script>
</body>
</html>