<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeOs AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
 
  </head>
<body>
<!-------Navbar section and header section----------->
  <header>
<div class="header-container">
    <nav class="navbar">
        <a href=" #" class="logo">LifeOS</a>
        <ul class="nav-links">
            <li><a href="#">Features</a></li>
              <li><a href="#">About</a></li>
                <li><a href="#">Roadmap</a></li>
                  <li><a href="#">Contact</a></li>
                <div class="create-account">
              <a href="#">Login</a>
              <a href="#" class="btn">Create Account</a>
                  </div>
        </ul>
        <div class="hamburger" id="Hamburger-icon">☰</div>
       
    </nav>
</div>
         
    
</div>
  </header>  
</body>
</html>